
node_modules/
dist/
coverage/

__tests__/
tests/
*.test.ts
*.test.js
*.spec.ts
*.spec.js

src/components/

*.log
*.lock
.DS_Store
.vscode/
.idea/
.env


postcss.config.js
tailwind.config.js
src/styles.css
vite.config.ts
jest.config.js
jest.setup.js
